.card{
  box-shadow: 2px 2px 10px black;
  padding:10px;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  transition: transform 0.1s ease-in;
  cursor:pointer;
  
}

.card:hover{
  transform:scale(1.05);
  color:red;
}
.img{
  width:100%;
}
.name{
  font-size:2rem;
  text-decoration: none;
}